<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Task</title>
    <%- include('./partials/css') %>
</head>
<body>
    <h1>Create Task</h1>
    
    <form method="post" action="/handleCreateTask">
        
        <!-- title -->
        <h5>Title</h5>
        <div class="mb-3">
            <!-- <label for="exampleInputEmail1" class="form-label">Title</label> -->
            <input type="text" placeholder="Study Maths" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="title">
        </div>

        <!-- description -->
        <h5>Description</h5>
        <div class="form-floating">
            <textarea class="form-control" placeholder="What the task is about?" id="floatingTextarea" name="description"></textarea>
            <label for="floatingTextarea">Description</label>
        </div>

        <br>

        <!-- status -->
        <h5>Status</h5>
        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
            <input type="radio" class="btn-check" id="btnradio1" autocomplete="off" checked name="status" value="Pending">
            <label class="btn btn-outline-primary" for="btnradio1">Pending</label>

            <input type="radio" class="btn-check" id="btnradio2" autocomplete="off"  name="status" value="In Progress">
            <label class="btn btn-outline-primary" for="btnradio2">In Progress</label>

            <input type="radio" class="btn-check" id="btnradio3" autocomplete="off" name="status" value="Completed">
            <label class="btn btn-outline-primary" for="btnradio3">Completed</label>
        </div>
        
        <br>
        <br>

        <!-- priority -->
        <h5>Priority</h5>
         <div>
            <input type="radio" id="priority" autocomplete="off" checked name="priority" value="High">
            <label for="priority">High</label>

            <input type="radio" name="priority" id="priority" autocomplete="off" checked value="Low">
            <label for="priority">Low</label>

        </div>

        <br>

        <!-- Create Button -->
        <button type="submit" class="btn btn-primary">Create</button>

    </form>


    <%- include('./partials/script') %>
</body>
</html>